/* Estilos del terrario  */
h1 {
    color:teal;
    text-align: center;
  }

.container {
    background-color: #eee;
    width: 15%;
    position: absolute;
    height: 100%;
    top: 10px;
    padding: 10px;
}

#left-container{
    left: 0px;
}

#right-container{
    right: 0px;
}

.plant-holder {
    position: relative;
    height: 13%;
    left: -10px;
}

.plant{
    position: absolute;
    max-width: 150%;
    max-height: 150%;
    z-index: 2;
}

.jar-walls{
    height: 80%;
    width: 60%;
    background-color: #d1e1df;
    border-radius: 1rem;
    position: absolute;
    left: 20%;
    bottom: 0.5%;
    opacity: 0.5;
    z-index: 1;
}

.jar-top{
    height: 5%;
    width: 50%;
    position: absolute;
    background: #d1e1df;
    opacity: 0.5;
    left: 25%;
    bottom: 80.5%;
    z-index: 1;
}

.jar-bottom{
    width: 50%;
    height: 2%;
    background: #d1e1df;
    position: absolute;
    bottom: -1.5%;
    left: 25%;
    opacity: 0.7;
    z-index: -3;
}

.dirt {
    position: absolute;
    height: 7%;
    width: 60%;
    left: 20%;
    bottom: 0.5%;
    border: 3px;
    background: #3a241d;
    border-radius: 0rem 0rem 1rem 1rem;
    opacity: 0.7;
    z-index: -1;
}

.jar-glossy-long {
    background-color: #eefeff;
    position: absolute;
    border-radius: 20px;
    height: 30%;
    width: 4%;
    top: 50%;
    left: 5%;
    z-index: -1;
  }
  
  .jar-glossy-short {
    background-color: #eefeff;
    position: absolute;
    border-radius: 20px;
    height: 8%;
    width: 4%;
    top: 40%;
    left: 5%;
    z-index: -1;
  }